@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

main {
    grid-template-areas: 
    "header"
    "novedades"
    "mas-comprados"
    "footer";
}

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* ---------------- CABECERA ---------------- */

#nav-section {
    display: grid;
    grid-template-areas: "logo nav search icons";
    grid-template-columns: 10% 1fr 2fr 1fr;
    height: 100px;
    line-height: 100px;
    position: fixed;
    background-color: #1F1F1F;
    box-shadow: 0 0 19px rgba(0,0,0,0.3);
    width: 100%;
    z-index: 1;
}

#icon-nav {
    grid-area: icons;
    justify-self: end;
    margin-right: 20px;
    align-self: center;
    width: 30%;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    display: grid;
    grid-template-columns: 50% 50%;
}

#icon-nav img {
    width: 40px;
    height: 40px; 
    display: block;
}

.logoPagina {
    grid-area: logo; 
    height: 100px;
    margin-left: 10px;
}

#nav-section #main-nav {
    grid-area: nav; 
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#nav-section #main-nav li {
    align-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #D72631;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    line-height: normal;
}

#nav-section #main-nav li:hover {
    background-color: #D72631;
}

#nav-section #main-nav li:hover a {
    color: #FFFFFF;
}

#nav-section #main-nav a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease;
    padding: 20px;
}

#nav-section input[type="text"] {
    grid-area: search;
    align-self: center;
    justify-self: center;
    height: 25px;
    width: 500px;
    padding: 10px;
    border: 2px solid transparent;
    background-color: #FFFFFF;
    border-radius: 50px;
    transition: width 0.5s ease, border-color 0.5s ease;
}

#nav-section input[type="text"]:focus {
    outline: none;
    border-color: #D72631;
    width: 550px;
}

/* ---------------- HEADER ---------------- */

header {
    display: grid;
    grid-area: header;
    height: 100vh; 
    width: 100%;
    background-image: url('../img/fondopagina.jpg');
    background-size: cover;
    color: #FFFFFF;
    position: relative;
}

header p {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #1F1F1F;
}

header h1 {
    font-weight: 500;
    font-size: 100px;
    margin: 10px;
    text-shadow: 5px 2px 2px #1F1F1F;
}

header > div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* ---------------- NOVEDADES ---------------- */

#novedades {
    text-align: center;
    grid-area: novedades;
}

#novedades > h2 {
    font-size: 75px;
    color: #1F1F1F;
}

#brands {
    display: grid;
    grid-template-areas: "box1 box2 box3 box4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap: 20px;
}

.brand1 { grid-area: box1; }
.brand2 { grid-area: box2; }
.brand3 { grid-area: box3; }
.brand4 { grid-area: box4; }

/* Nuevo contenedor vertical para imagen grande y logo */
#brands article a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoMasNovedades {
    border-radius: 20px;
    object-fit: cover;
    width: 325px;
    height: 375px;
    margin-bottom: 10px;
}

.fotoSimbolo,
.fotoSimboloAdidas {
    border-radius: 20px;
    object-fit: cover;
    width: 125px;
    height: 125px;
}

/* ---------------- MAS COMPRADOS ---------------- */

#mas-comprados {
    text-align: center;
    grid-area: mas-comprados;
}

#mas-comprados > h2 {
    font-size: 75px;
    color: #1F1F1F;
}

#carousel-wrapper {
    overflow-x: auto;
}

#products{
    display: grid;
    grid-template-areas: "box1 box2 box3 box4";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    gap: 30px;
}

#products > article > div{
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product1 { grid-area: box2; display: grid; }
.product2 { grid-area: box1; display: grid; }
.product3 { grid-area: box3; display: grid; }
.product4 { grid-area: box4; display: grid; }

.fotoMasComprados {
    object-fit: cover;
    width: 260px;
    height: 375px;
    transition: transform 0.4s ease;
}

/* ---------------- DESCRIPCIÓN PRODUCTO ---------------- */

.prod-desc {
    color: #1F1F1F;
    margin-top: 10px;
    transition: height 0.5s ease;
}

.prod-desc p{
    font-size: 20px;
}

.prod-desc p span{
    font-size: 15px;
    color: grey; 
    text-decoration: line-through; 
    font-size: 15px;
}

.prod-desc strong {
    font-size: 20px;
    color: #1F1F1F;
}

.prod-desc .button {
    width: 100%;
    text-align: center;
}

.product a {
    overflow: hidden;
}

/* ---------------- BOTONES ---------------- */

.button {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #D72631;
    border: 1px solid #D72631;
    padding: 20px 0;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 100%;
}

.button:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

/* ---------------- FOOTER ---------------- */

footer > div{
    height: 400px;
    background-color: #1F1F1F;
    padding-top: 30px;
    display: grid;
    grid-template-areas: "recursos sobre-nosotros otros";
    padding: 20px; 
    justify-items: center;
    gap: 1em;
}

#recursos { grid-area: recursos; }
#about-us { grid-area: sobre-nosotros; }
#suscripcion-pedidos { grid-area: otros; }

footer ul { list-style-type: none; padding: 0; }

footer a { text-decoration: none; color: #FFFFFF; }
footer p { color: #FFFFFF; }
footer h3 { color: #FFFFFF; }

footer a:hover { color: #D72631; }
