@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  padding-top: 100px;
}

#nav-section {
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  min-height: 100px;
  height: auto;
}



#nav-section .nav-link {
  color: #FFFFFF;
  transition: color 0.3s ease;
  padding: 10px 15px;
  font-size: 1.1rem;
}

#nav-section .nav-link:hover {
  color: #D72631;
}

#nav-section #main-nav li {
  align-content: center;
  text-align: center;
  padding: 15px 40px;
  border: 1px solid #D72631;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  line-height: normal;
}

#nav-section #main-nav li:hover {
  background-color: #D72631;
}

#nav-section #main-nav li:hover a {
  color: #FFFFFF;
}

#nav-section #main-nav a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease;
  font-size: 1.2rem;
}

#nav-section input[type=text] {
  height: 40px;
  padding: 10px;
  border: 2px solid transparent;
  background-color: #FFFFFF;
  border-radius: 50px;
  transition: width 0.5s ease, border-color 0.5s ease;
}

#nav-section input[type=text]:focus {
  outline: none;
  border-color: #D72631;
}

#icon-nav img {
  width: 40px;
  height: 40px;
  display: block;
}


main {
    margin-top: 5em;
}

#comments {
    overflow-y: scroll;
    height: 300px;
    border: 1px solid #D72631;
}

.comment {
    border-radius: 20px;
    background-color: #F5F5F5;
    border: 1px solid #D72631;
}



@media (max-width: 992px) {
  
  #nav-section {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nav-section .logoPagina {
    height: 50px;
  }

  #main-nav li {
    padding: 10px 20px;
    border: 1px solid #D72631;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {

  
}
